@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


body {
  font-family: 'Manrope';
}

.checkbox {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked + label .checkbox {
  background-color: #D87D4A;
}
/* hide the default checkbox */
input[type="radio"].hidden {
  position: absolute;
  left: -9999px;
}




@keyframes slide-from-left {
  from {
    opacity: 0;
  } to {
    opacity: 100;
  }
}

@keyframes product-slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  } to {
    transform: translateX(0%);
    opacity: 100;
  }
}

@keyframes display-summary {
  from {
    opacity: 0;
    transform: rotate(360deg);
  } to {
    opacity: 100;
    transform: rotate(0deg);
  }
}

@keyframes hero-photo {
  from {
    transform: translateX(100%);
    opacity: 0;
  } to {
    transform: translateX(0%);
    opacity: 0.8;
  }    
}

@keyframes main-fade {
  from {
    opacity: 0;
  } to {
    opacity: 100;
  }
  
}

@keyframes slide-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  } to {
    transform: translateX(0%);
    opacity: 100;
  }
}


@keyframes cart-open {
  from {
    opacity: 0;
  } to {
    opacity: 100;
  }
}

.slide-from-left {
  animation: slide-from-left 1s ease-in-out;
}

.display-summary {
  animation: display-summary 1s ease-in-out;
}

.main-fade {
  animation: main-fade 2s ease-in-out;
}


.product-slide {
  animation: product-slide 2s ease-in-out;
}

.slide-right {
  animation: slide-right 2s ease-in-out;
}

.cart-open {
  animation: cart-open 500ms ease-in-out;
}

.hero-photo {
  animation: hero-photo 2s ease-in-out;
}
